/* BORDERS
----------------------------------------------------------------------------------------------------*/

.border-sq{
  border-radius: 0px;
}

.border-0{
 border:none;
}

.border-r-1{
  border-right: 1px solid;
}

.border-l-1{
  border-left: 1px solid;
}

.border-t-1{
  border-top: 1px solid;
}

.border-b-1{
  border-bottom: 1px solid;
}

.border-grey{
  border-color: #F2F2F2;
}

.border-white{
  border-color: #FFFFFF;
}
